.card {
  isolation: isolate;
}

.media-object {
  --border-width: 1px;
  --radius: 24px;

  position: relative;
  border: var(--border-width) solid transparent;
  border-radius: var(--radius);
  background-color: var(--bg-color);
  background-clip: padding-box;
}

.media-object::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border-radius: inherit;
  background-image: conic-gradient(from var(--angle), #381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%);
  animation: spin 3s linear infinite paused;
}

.media-object:hover::before {
  animation-play-state: running;
}

/* Use CSS @supports for non-Houdini browsers to ensure gradient display without animation. */
@supports not (background: paint(something)) {
  .media-object::before {
    background-image: conic-gradient(#381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%);    
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}
